services:
  authelia:
    build:
      context: ./authelia
    container_name: authelia
    restart: unless-stopped
    ports:
      - "9091:9091"
    volumes:
      - ${CONFIG_PATH}authelia/config:/config
    environment:
      - X_AUTHELIA_CONFIG_FILTERS=template
      - TZ=${TIMEZONE}
      - DOMAIN=${SITE_ADDRESS}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - RESEND_API_KEY=${RESEND_API_KEY}
    networks:
      - frontend
      - backend
  caddy:
    build:
      context: ./caddy
    container_name: caddy
    environment:
      - SITE_ADDRESS=${SITE_ADDRESS}
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
      - "8080:8080"
      - "45432:45432"
      - "46379:46379"
    volumes:
      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
      - ${CONFIG_PATH}caddy:/etc/caddy
      - ${DATA_PATH}caddy:/data
    restart: always
    depends_on:
      authelia:
        condition: service_healthy
      dozzle:
        condition: service_healthy
    networks:
      - frontend
      - backend

#  php-fpm:
#    build:
#      context: ./php-fpm
#      dockerfile: Dockerfile
#      args:
#        - CHANGE_SOURCE=${CHANGE_SOURCE}
#        - WWWUSER=${WWWUSER:-33}
#        - WWWGROUP=${WWWGROUP:-33}
#    container_name: php-fpm
#    restart: always
#    volumes:
#      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
#      - ${CONFIG_PATH}ssh:/home/www-data/.ssh:ro
#    environment:
#      - APP_PATH=${APP_PATH}
#      - APP_ENV=fpm
#      - APP_DEBUG=true
#      - ENABLE_SUPERVISOR=false
#      - ENABLE_SCHEDULE=true
#      - ENABLE_HORIZON=true
#    extra_hosts:
#      - "host.docker.internal:host-gateway"
#    networks:
#      - backend
#      - frontend
#    depends_on:
#      php-schedule:
#        condition: service_healthy
#      php-horizon:
#        condition: service_healthy
#      php-reverb:
#        condition: service_healthy
#      redis:
#        condition: service_healthy
#      postgres:
#        condition: service_healthy
#      meilisearch:
#        condition: service_healthy
#      minio:
#        condition: service_healthy
#
#  php-roadrunner:
#    build:
#      context: php-roadrunner
#    container_name: php-roadrunner
#    restart: always
#    environment:
#      - APP_PATH=${APP_PATH}
#      - APP_ENV=octane
#      - APP_DEBUG=true
#      - ENABLE_SUPERVISOR=false
#      - WATCH=true
#    ports:
#      - "8201:8001"
#    volumes:
#      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
#      - ${CONFIG_PATH}ssh:/home/www-data/.ssh:ro
#    networks:
#      - backend
#      - frontend
#
#  php-horizon:
#    build:
#      context: php-horizon
#    container_name: php-horizon
#    restart: always
#    environment:
#      - APP_PATH=${APP_PATH}
#      - APP_ENV=${APP_ENV}
#      - ENABLE_SUPERVISOR=false
#    volumes:
#      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
#    networks:
#      - backend
#    depends_on:
#      redis:
#        condition: service_healthy
#
#  php-schedule:
#    build:
#      context: php-schedule
#    container_name: php-schedule
#    restart: always
#    environment:
#      - APP_PATH=${APP_PATH}
#      - APP_ENV=${APP_ENV}
#      - ENABLE_SUPERVISOR=false
#    volumes:
#      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
#    networks:
#      - backend
#    depends_on:
#      php-horizon:
#        condition: service_healthy
#
#  php-reverb:
#    build:
#      context: php-reverb
#    container_name: php-reverb
#    restart: always
#    environment:
#      - APP_PATH=${APP_PATH}
#      - APP_ENV=${APP_ENV}
#      - ENABLE_SUPERVISOR=false
#    volumes:
#      - ${APP_CODE_PATH}:${APP_CODE_PATH_CONTAINER}${APP_CODE_CONTAINER_FLAG}
#    networks:
#      - backend
#    depends_on:
#      php-horizon:
#        condition: service_healthy

  postgres:
    build:
      context: postgres
      args:
        - POSTGRES_VERSION=${POSTGRES_VERSION}
    container_name: postgres
    restart: always
    volumes:
      - ${DATA_PATH}postgres:/var/lib/postgresql/data
      - ${CONFIG_PATH}postgres/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    ports:
      - "25432:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - backend
      - frontend
  redis:
    container_name: redis
    build:
      context: ./redis
      args:
        - REDIS_VERSION=${REDIS_VERSION}
    volumes:
      - ${DATA_PATH}redis:/data
    restart: always
    command: --requirepass ${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT:-6379}:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      retries: 3
      timeout: 5s
    networks:
      - backend
      - frontend

#  meilisearch:
#    container_name: meilisearch
#    build:
#      context: ./meilisearch
#    restart: always
#    environment:
#      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
#    ports:
#      - "${SEARCH_PORT:-7700}:7700"
#    volumes:
#      - "${DATA_PATH}/meili_data:/meili_data"
#    networks:
#      - frontend
#      - backend

#  rabbitmq:
#    build:
#      context: ./rabbitmq
#      dockerfile: Dockerfile
#    container_name: rabbitmq
#    restart: always
#    ports:
#      - "${RABBITMQ_PORT:-5672}:5672"
#      - "${RABBITMQ_DASHBOARD_PORT:-15672}:15672"
#    environment:
#      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
#      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
#      - RABBITMQ_DEFAULT_VHOST=${RABBITMQ_DEFAULT_VHOST:-app-host}
#    volumes:
#      - ${DATA_PATH}rabbitmq:/var/lib/rabbitmq
#      # - ${CONFIG_PATH}rabbitmq/config:/etc/rabbitmq
#      - ${LOG_PATH}rabbitmq:/var/log/rabbitmq
#    networks:
#      - backend

  minio:
    build:
      context: ./minio
    container_name: minio
    restart: always
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    volumes:
      - "${DATA_PATH}/minio:/data"
    ports:
      - "${MINIO_PORT_UI}:9001"
      - "${MINIO_PORT}:9000"
    networks:
      - backend
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v8.14
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8180:8080"
    environment:
      - TZ=Asia/Shanghai
      - DOZZLE_LEVEL=info
      - DOZZLE_FILTER=status=running
      - DOZZLE_NO_ANALYTICS=true
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 3s
      timeout: 30s
      retries: 3
    networks:
      - frontend
      - backend
    labels:
      - "com.centurylinklabs.watchtower.enable=true"
  gotify:
    image: gotify/server:2.7
    container_name: gotify
    ports:
      - "8380:80"
    environment:
      - GOTIFY_DEFAULTUSER_NAME=${GOTIFY_DEFAULTUSER_NAME}
      - GOTIFY_DEFAULTUSER_PASS=${GOTIFY_DEFAULTUSER_PASS}
      - TZ=Asia/Shanghai
    volumes:
      - "${DATA_PATH}gotify:/app/data"
    networks:
      - backend

  docker-proxy:
    build:
      context: ./docker-proxy
    container_name: docker-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always
    privileged: true
    ports:
      - "42375:2375"
    security_opt:
      - no-new-privileges:true
    networks:
      - backend
      - frontend

  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
#      HOMEPAGE_ALLOWED_HOSTS: "*"
      HOMEPAGE_ALLOWED_HOSTS: "home.${SITE_ADDRESS}"
      HOMEPAGE_VAR_SITE_ADDRESS: ${SITE_ADDRESS}
      HOMEPAGE_VAR_DOMAIN: ${SITE_ADDRESS}
    ports:
      - "33000:3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # optional, for docker integrations
      - ${CONFIG_PATH}homepage:/app/config # Make sure your local config directory exists
    restart: always
    networks:
      - frontend
      - backend

#  watchtower:
#    container_name: watchtower
#    image: containrrr/watchtower:1.7.1
#    restart: always
#    volumes:
#      - "/var/run/docker.sock:/var/run/docker.sock"
#    ports:
#      - "8880:8080"
#    environment:
#      - TZ=Asia/Shanghai
#      - WATCHTOWER_LABEL_ENABLE=true
#      - WATCHTOWER_HTTP_API_METRICS=true
#      - WATCHTOWER_HTTP_API_TOKEN=demo-token
#      - WATCHTOWER_CLEANUP=true
#      - WATCHTOWER_LOG_FORMAT=LogFmt
#      - WATCHTOWER_NO_STARTUP_MESSAGE=true
#    security_opt:
#      - no-new-privileges:true
#    healthcheck:
#      test: ["CMD", "/watchtower", "--health-check"]
#      interval: 10m
#      timeout: 30s
#      retries: 3
#      start_period: 60s
#    networks:
#      - frontend
#      - backend

  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    restart: always
    volumes:
      - ${DATA_PATH}uptime-kuma:/app/data
    ports:
      - "33001:3001"
    networks:
      - backend
  memos:
    image: neosmemo/memos:stable
    container_name: memos
    ports:
      - "5230:5230"
    volumes:
      - ${DATA_PATH}memos:/var/opt/memos
    networks:
      - frontend
      - backend

  excalidraw:
    container_name: excalidraw
    image: excalidraw/excalidraw:latest
    ports:
      - "3030:80"
    restart: on-failure
    networks:
      - frontend
      - backend

  3xui:
    image: ghcr.io/mhsanaei/3x-ui:latest
    container_name: 3xui
    volumes:
      - ${DATA_PATH}/3xui/db/:/etc/x-ui/
      - ${DATA_PATH}/3xui/cert/:/root/cert/
    environment:
      - XRAY_VMESS_AEAD_FORCED=false
      - XUI_ENABLE_FAIL2BAN=true
    tty: true
    restart: unless-stopped
    networks:
      - frontend
      - backend

  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
      - TZ=Asia/Shanghai
    volumes:
#      - ${DATA_PATH}n8n:/home/node/.n8n
      - ${DATA_PATH}n8n-local-files:/files
    networks:
      - frontend
      - backend

  frp-server:
    image: snowdreamtech/frps:alpine
    container_name: frp-server
    restart: unless-stopped
    volumes:
      - ${CONFIG_PATH:-./}frps/frps.toml:/etc/frp/frps.toml:ro
    ports:
      # FRP 控制端口：客户端连接端口
      - "7000:7000"
    # - "7500:7500"
    networks:
      - backend
      - frontend
    healthcheck:
      test: [ "CMD", "nc", "-z", "localhost", "7000" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    environment:
      - TZ=Asia/Shanghai

  vert:
    container_name: vert
    image: ghcr.io/vert-sh/vert:latest
    restart: unless-stopped
    ports:
      - "3100:80"
    networks:
      - frontend

  stirling-pdf:
    container_name: stirling-pdf
    image: stirlingtools/stirling-pdf:2.1.5
    ports:
      - "8081:8080"
    networks:
      - backend
      - frontend

  kutt:
    image: kutt/kutt
    container_name: kutt
    ports:
      - "3331:3000"
    volumes:
      - ${DATA_PATH}kutt:/var/lib/kutt
      - ${CONFIG_PATH}kutt:/kutt/custom
    environment:
      DB_FILENAME: "/var/lib/kutt/data.sqlite"
    networks:
      - frontend

  ollama:
    image: ollama/ollama
    container_name: ollama
    volumes:
      - ${DATA_PATH}ollama:/root/.ollama
    ports:
      - "11434:11434"
    networks:
      - backend
      - frontend

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    restart: always
    ports:
      - "33300:8080"
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      - ${DATA_PATH}open-webui:/app/backend/data
    depends_on:
      - ollama
    networks:
      - backend
      - frontend

  hbbr:
    container_name: hbbr
    image: rustdesk/rustdesk-server:latest
    command: hbbr
    volumes:
      - ${DATA_PATH}rustdesk:/root
    ports:
      - "21116:21116"
      - "21116:21116/udp"
      - "21118:21118"
    restart: unless-stopped
    networks:
      - backend
      - frontend

  hbbs:
    container_name: hbbs
    image: rustdesk/rustdesk-server:latest
    command: hbbs -r hbbr:21116
    volumes:
      - ${DATA_PATH}rustdesk:/root
    ports:
      - "21115:21115"
      - "21117:21117"
      - "21119:21119"
    depends_on:
      - hbbr
    restart: unless-stopped
    networks:
      - backend
      - frontend

networks:
  frontend:
    name: frontend
  backend:
    name: backend

volumes:
  app_code:
    name: app_code
    driver: local
    driver_opts:
      # 必须指定 type: bind 绑定挂载
      type: bind
      # 在这里指定主机上的绝对路径
      source: ${APP_CODE_PATH}
      # 确保 mode 为读写 (rw)
      o: bind,rw