{
	import snippets/global-log.conf
}

import sites/*
import templates/* {
	import proxy-layer4 45432 postgres:5432
	import proxy-layer4 46379 redis:6379
}

#import fpm-app fpm.{$SITE_ADDRESS} /var/www/lunchbox
#import fpm-app-auth rest.{$SITE_ADDRESS} /var/www/lunchbox
#import proxy-octane-app-auth dev.{$SITE_ADDRESS} php-franken:8001
#import proxy-octane-app-auth api.{$SITE_ADDRESS} php-roadrunner:8001
#import proxy-app ws.{$SITE_ADDRESS} php-reverb:8080

#import proxy-app auth.{$SITE_ADDRESS} authelia:9091
import proxy-app mo.{$SITE_ADDRESS} minio:9001
import proxy-app mos.{$SITE_ADDRESS} minio:9000
import proxy-app mq.{$SITE_ADDRESS} rabbitmq:15672
import proxy-app msg.{$SITE_ADDRESS} gotify:80

import proxy-app uptime.{$SITE_ADDRESS} uptime-kuma:3001
import proxy-app draw.{$SITE_ADDRESS} excalidraw:80
import proxy-app memos.{$SITE_ADDRESS} memos:5230
import proxy-app xui.{$SITE_ADDRESS} 3xui:2053
import proxy-app sub.{$SITE_ADDRESS} 3xui:2096
import proxy-app frp.{$SITE_ADDRESS} frp-server:7500
import proxy-app vert.{$SITE_ADDRESS} vert:80
import proxy-app kutt.{$SITE_ADDRESS} kutt:3000
#import proxy-app pdf.{$SITE_ADDRESS} stirling-pdf:8080
#import proxy-app n8n.{$SITE_ADDRESS} n8n:5678
#import proxy-app ollama.{$SITE_ADDRESS} ollama:11434
#import proxy-app ai.{$SITE_ADDRESS} open-webui:8080


import proxy-app-auth home.{$SITE_ADDRESS} homepage:3000
import proxy-app-auth search.{$SITE_ADDRESS} meilisearch:7700
#import proxy-app-auth dozzle.{$SITE_ADDRESS} dozzle:8080
import proxy-app dozzle.{$SITE_ADDRESS} dozzle:8080

# import proxy-app ssh.{$SITE_ADDRESS}  ssh:8182
# import proxy-app app.{$SITE_ADDRESS}  chatNext:3000

:8888 {
	respond /health 200 {
		body "OK"
	}
	respond /ready 200 {
		body "Ready"
	}
}
